<div id="myjumbo" class="jumbotron">
	  <tr id="writingprompts" class="center">
	    <td><h4><%= @prompt.title %></h4></td>
	  </tr>
	  
	  <% unless @prompt.selftext.empty? %>
	    <tr>
	      <td><%= @prompt.selftext %></td>
	    </tr>
		<br/>
	  <% end %>
	  
	  <br/>
	  <small class="form-inline">
	  	  <tr id="info">
	  		  <%= link_to("original prompt", @prompt.url) %>
	  	  </tr>
	  	  <tr id="author">
	  		  by: <%= link_to(@prompt.author, "http://reddit.com/user/#{@prompt.author}") %>
	  	  </tr>
	  </small>
</div>
<div class="center">
	<%= link_to "This prompt sucks. Try again.", prompt_path, class: "btn btn-lg btn-primary" %>
</div>